@font-face {
    font-family: "GreatVibes";
    src: url("../fonts/great-vibes.regular.ttf") format("truetype");
}
html{
    height:100%
}
body{
    text-justify: auto;
}
h1{
    text-align: center;
    font-family: "GreatVibes";
    font-size: 106pt;
    color: white;
    margin-bot: 0;
}
h2{
    text-align: center;
    font-family: "GreatVibes";
    font-size: 36pt;
    color: white;
}
body{
    background: url(../img/fondecran.webp) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
    height: 100%;
}
.scroller {
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}


section{
    scroll-snap-align: start;
    margin: auto;
    min-height: 100%;
    border: 1px solid black;
}
section div{
    display: flex;
}

section:first-of-type div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section:nth-of-type(2n){
    background-color: rgba(255, 255, 255, 0.75);
    flex-direction: row-reverse;
}
section:nth-of-type(2n) div{
    flex-direction: row;
}
section:nth-of-type(2n) div div{
    display: flex;
    flex-direction: column;
}
section:nth-of-type(2n+1){
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}
section:nth-of-type(2n+1) div{
    flex-direction: row-reverse;
}
section:nth-of-type(2n+1) div div{
    display: flex;
    flex-direction: column;
}
