@font-face {
    font-family: "GreatVibes";
    src: url("../fonts/great-vibes.regular.ttf") format("truetype");
}
html{
    height:100%
}

h1{
    text-align: center;
    font-family: "GreatVibes";
    font-size: 106pt;
    color: white;
}
h2{
    text-align: center;
    font-family: "GreatVibes";
    font-size: 36pt;
    color: white;
}
body{
    background: url(../img/fondecran.webp) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
    height: 100%;
    width: 100%;
}
.scroller {
    height: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}


section{
    scroll-snap-align: start;
    margin: auto;
    min-height: 100%;
    border: 1px solid black;
}
section div{
    display: flex;
}

section div div{
    margin: 20px;
}
section:first-of-type div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section:nth-of-type(2n){
    background-color: rgba(255, 255, 255, 0.75);
    flex-direction: row-reverse;
}
section:nth-of-type(2n) div{
    flex-direction: row;
}
section:nth-of-type(2n) div div{
    display: flex;
    flex-direction: column;
}
section:nth-of-type(2n+1){
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}
section:nth-of-type(2n+1) div{
    flex-direction: row-reverse;
}
section:nth-of-type(2n+1) div div{
    display: flex;
    flex-direction: column;
}
section img{
    margin: auto 25px;
    height: 300px;
}
.navbar{
    width: 70%;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    margin: 10px auto;
    border: 1px solid rgb(213, 63, 29);
    border-radius: 10px;
    background-color: rgba(245, 245, 220,0.8); 
    min-height: 50px;
}
.test{
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.navbar a{
    text-align: center;
    margin:0;
    padding: 15px;
    color: crimson;
    text-decoration: none;
    
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
.navbar a:active{
    background-color:rgb(213, 63, 29) ;
}